[user]
        name = Moritz
        email = moritz@tibidat.com
[core]
        excludesfile = ~/.gitignore
        whitespace = trailing-space, tab-indent
        autocrlf = input
[apply]
        whitespace = strip
[color]
        diff = auto
[push]
        default = matching
[merge]
        tool = kdiff3
[alias]
        unstage = reset HEAD
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        fl = log -u
